<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>YN Case</title>
<!-- Favicon-->
<link rel="icon" type="image/x-icon" href="assets/flower.ico" />
<!-- Bootstrap icons-->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
	rel="stylesheet" />
<!-- Core theme CSS (includes Bootstrap)-->
<link href="css/styles.css" rel="stylesheet" />
<link rel="stylesheet" media="screen" href="css/theme.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
<script type="text/javascript" src="js/customer.js"></script>
</head>
<body style="background-image: url(img/background02.jpg)">
	<div th:replace="nav.html :: fragment-nav"></div>
	<div th:replace="header.html :: fragment-header"></div>
	<!-- <th:block th:if="${session.loginsession.adminchk == 1}"> -->
		<div class="modal-content" style="max-width: 450px;">
			<div class="modal-body px-0 py-2 py-sm-6">
				<div class="row mx-2 align-items-centered">
					<div class="col-md-12 px-5 pt-5 pb-5 px-sm-8 pb-sm-8 pt-md-8">
						<div class="form_section_title">
							<form th:action="@{upload}" method="post" enctype="multipart/form-data">
								<label><h2>상품 업로드</h2></label> <br> <br>
								<div>
									<label for="pname">상품명</label> <input type="text" id="pname"
										name="pname" class="form-control" placeholder="이름을 입력하세요">
								</div>
								<br>
								<div>
									<label for="pkind">상품 종류 (0:에어팟, 1:폰케이스, 2:그립톡)</label> <input type="text" id="pkind"
										name="pkind" class="form-control" placeholder="이름을 입력하세요">
								</div>
								<br>
								<div>
									<label for="price1">원가</label> <input type="text" id="price1"
										name="price1" class="form-control" placeholder="원가를 입력하세요(단위생략)">
								</div>
								<br>
								<div>
									<label for="price2">판매가</label> <input type="text" id="price2"
										name="price2" class="form-control" placeholder="판매가를 입력하세요(단위생략)">
								</div>
								<br>
								<div>
									<label for="price3">수익 (기본값: 0)</label> <input type="text" id="price3"
										name="price3" class="form-control" placeholder="수익을 입력하세요(단위생략)">
								</div>
								<br>
								<div>
									<label for="content">상품 내용</label> <input type="text"
										id="content" name="content" class="form-control"
										placeholder="이름을 입력하세요">
								</div>
								<br>
								<div class="form_section_content">
									<input type="file" th:name="uploadimg" multiple="multiple">
								</div>
								<br>
								<button class="btn btn-primary px-3 px-sm-4" type="submit"
									style="float: right;">상품등록</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	<!-- </th:block> -->
	<footer th:replace="footer.html :: fragment-footer"></footer>
	<!-- Bootstrap core JS-->
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
	<!-- Core theme JS-->
	<script src="js/scripts.js"></script>
</body>
</html>