<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.CustomerMapper">

	<!--@Mapper.xml -->
	<!--select, insert, update 그리고 delete와 같인 SQL문들을 설정하는 코드들을 포함하는 Mybatis의 
		파일 -->

	<!-- 로그인 -->
	<!-- id:@Mapper에서 정의한 이름을 동일하게 맞춰줘야함, parameterType: 파라미터의 자료형을 넣어줌 resultType 
		: select 된 데이터를 반환할 (그릇)을 정해주는것 -->
	<select id="login" parameterType="map" resultType="com.dto.Customer">
		select * from customer where id=#{id} and pw=#{pw}
	</select>

	 <!--아이디 중복확인 -->
	<select id="idcheck" parameterType="String" resultType="integer">
		select count(id) from customer where id=#{id}
	</select>

	<!-- 회원가입 -->
	<!-- id:@Mapper에서 정의한 이름을 동일하게 맞춰줘야함, parameterType: 파라미터의 자료형을 넣어줌 -->
	<insert id="join" parameterType="com.dto.Customer">
		insert into customer(id,pw,name,jumin1,jumin2,email,tel,post,addr1,addr2) 
		values(#{id},#{pw},#{name},#{jumin1},#{jumin2},#{email},#{tel},#{post},#{addr1},#{addr2})
	</insert>

	<!--회원목록조회 -->
<!-- 	<select id="customerlist" parameterType="com.dto.Customer"
		resultType="customer">
		select * from customer
	</select> -->

	<!-- 비밀번호 찾기 -->
<!-- 	<select id="pwFindOk" resultType="com.dto.Customer"
		parameterType="customer">
		select * from customer where id=#{id} and name=#{name}
	</select> -->

	<!--회원수정 -->
<!-- 	<update id="customerupdate" parameterType="com.dto.Customer">
		update customer set pw=#{pw},name=#{name},email=#{email},tel=#{tel} where id=#{id}
	</update>
 -->
	<!--회원탈퇴 -->
	<delete id="customerdelete">
		delete from customer where id=#{id}
	</delete>

</mapper>
