<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.ProductMapper">

	<!--@Mapper.xml -->
	<!--select, insert, update 그리고 delete와 같인 SQL문들을 설정하는 코드들을 포함하는 Mybatis의 
		파일 -->

	<!-- 상품등록 -->
	<!-- id:@Mapper에서 정의한 이름을 동일하게 맞춰줘야함, parameterType: 파라미터의 자료형을 넣어줌 -->
	<insert id="upload" parameterType="com.dto.Product">
		insert into Product(pname,pkind,price1,price2,content,imagename,imagepath) 
		values(#{pname},#{pkind},#{price1},#{price2},#{content},#{imagename},#{imagepath})
	</insert>
	
	<!-- 상품리스트  -->
	<select id="productlist" parameterType="int" resultType="com.dto.Product">
		 <![CDATA[
		select @rownum := @rownum + 1 as rownum, p.* from product p,(select @rownum := 0) tmp order by prodno asc
		where rnum >= ((#{page}-1) * 5+1)  and rnum <= (#{page} * 5)
		]]>
	</select>
	
	<!-- 상품상세페이지  -->
	<select id="productdetail" parameterType="int" resultType="com.dto.Product">
		 select pname,pkind,price2,content,imagepath from product where prodno=#{prodno}
	</select>
	
	<!--상품 목록 -->
	<select id="list" resultType="com.dto.Product">
		 <![CDATA[
		select @rownum := @rownum + 1 as rownum, p.* from product p,(select @rownum := 0) tmp where @rownum <= 3 order by prodno asc
		]]>
	</select>
	
</mapper>
